/* ستايل البطاقات */
.product-card {
  background: #2c2c54; /* لون بنفسجي غامق */
  color: white;
  border-radius: 15px;
  padding: 15px;
  width: 16rem; /* تصغير عرض البطاقات */
  margin-bottom: 20px; /* عشان ما يدخلوا ببعض */
  transition: 0.3s;
}

  .product-card:hover {
    background: #474787;
  }

/* زر بنفسجي بنفس ستايل Add Product */
.btn-purple-gradient {
  background: #6a11cb;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  transition: 0.3s;
}

  .btn-purple-gradient:hover {
    background: #4a0d9c;
  }

/* ظل خفيف */
.shadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
