<div class="container mt-4" style="margin-left: 250px; max-width: calc(100% - 250px);">
  <div class="text-center">
    <button type="button" routerLink="/app-add-catigory" class="btn btn-purple-gradient mb-3">
      Add New Category
    </button>

  </div>

  <table class="table table-dark table-hover text-center shadow-lg">
    <thead class="table-purple">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of categories">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
          <a routerLink="/app-product/{{item.id}}" class="btn btn-purple-gradient btn-sm">View Products</a>
        </td>
        <td>
          <a routerLink="/app-edit-cat/{{item.id}}" class="btn btn-purple-gradient btn-sm">Edit category</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
