<div class="container mt-4" style="margin-left: 250px; max-width: calc(100% - 250px);">
  <div class="text-center">
    <button type="button" routerLink="/app-add-voucher" class="btn btn-purple-gradient mb-3">
      Add New Voucher
    </button>

  </div>

  <table class="table table-dark table-hover text-center shadow-lg">
    <thead class="table-purple">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of voucherContainer">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>
          <a routerLink="/app-update-voucher/{{item.id}}" class="btn btn-purple-gradient btn-sm">Update Vouchers</a>
          <button (click)="DeleteVoucher(item.id)" class="btn btn-purple-gradient btn-sm">Delete Voucher</button>
      </tr>
    </tbody>
  </table>
</div>
